/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */
* {
  margin: 0;
  padding: 0;
}

html, body { height: 100%; }

body {
  background-color: #FFF;
  color: #000;
  font-family: "Droid Serif", Helvetica, Arial, sans-serif;
  font-size: 16px;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  color: #000;
  font-size: 100%; 
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
}

h1 { margin-bottom: 1em; }
p { margin: 1em 0; }

a         { color: #00a; }
a:hover   { color: #000; }
a:visited { color: #a0a; }

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/
.posts {
  list-style-type: none;
  margin-bottom: 2em;
}

.posts li {
  line-height: 1.75em;
}

.posts span {
  color: #aaa;
  font-family: Monaco, "Courier New", monospace;
  font-size: 80%;
}

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.site {
  font-size: 115%;
  text-align: justify;
  width: 42em;
  margin: 3em auto 2em;
  line-height: 1.5em;
}

.header a {
  font-weight: bold;
  text-decoration: none;
}

.title {
  display: inline-block;
  margin-bottom: 2em;
}

.title a {
  color: #a00;
}

.title a:hover {
  color: #000;
}

.header a.extra {
  color: #aaa;
  margin-left: 1em;
}

.header a.extra:hover {
  color: #000;
}

.meta {
  color: #aaa;
}

.footer {
  font-size: 80%;
  color: #666;
  border-top: 4px solid #eee;
  margin-top: 2em;
  overflow: hidden;
}

.footer .contact {
  float: left;
  margin-right: 3em;
}

.footer .contact a {
  color: #8085C1;
}

.footer .rss {
  margin-top: 1.1em;
  margin-right: -.2em;
  float: right;
}

.footer .rss img {
  border: 0;
}

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

/* standard */
.post pre {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .4em;
}

.post ul, .post ol {
  margin-left: 1.35em;
}

.post code {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .2em;
}

.post pre code {
  border: none;
}

/* terminal */
.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
}

.post pre.terminal code {
  background-color: #333;
}

.img-profile {
  max-height: 200px;
  border-radius: 200px;
}

/*layouts*/

.container {
  width: 960px;
  margin: auto;
}

@media screen and (max-width: 959px) {
  width: 100%;
}

.container-fluid {

}

.full-space {
  height: 100%;
  width: 100%;
}

.stick-bottom {
  position: absolute;
  bottom: 0;
}

hr {
  width: 300px;
  margin: auto;
  height: 1px;
  border: 0;
  background: rgb(219, 219, 219);
}

/*typography*/

h1 {
  font-size: 40px;
  color: #000;
}

/*intro*/

.intro {
  background-image: url(../images/sideview_copy.jpg);
  background-size: cover;
  background-attachment: fixed;
}

.intro .intro-text {
  width: 100%;
  padding: 20px 0;
  background: #fff;
}

.intro .intro-text h1 {
  color: #000;
  margin: 0;
  font-size: 60px;
}

/*Header*/

header {
  padding: 20px 0;
}



